<div class="wrapper-widgets">
  <app-clock
    [timeIsRunning]="true"
  ></app-clock>
  <app-weather
    [latitude]="latitude"
    [longitude]="longitude"
    [animateGraphics]="true"
  ></app-weather>
  <app-tram
    [stops]="stops"
    [timeOffset]="timeOffset"
    [numberOfOpportunities]="numberOfOpportunities"></app-tram>
  <app-stock
    [symbols]="symbol"
    [interval]="interval"
    [range]="range"
    [mockData]="mockData"
    positiveColor="green"
    negativeColor="red"
  ></app-stock>
</div>

