@import "src/style/variable";

.wrapper-clock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: $primary;
  color: $secondary;

  margin-bottom: 10px;
  color: red;

  .time-clock {
    font-size: 6em;
  }
}
